<section class="hero">
  <div class="container">
    <div class="hero-container first">
      <h1 class="hero-title">organic vegetables to your diet today!</h1>
      <p class="hero-desc">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="hero-container second"></div>
    <div class="hero-container third">
      <picture class="hero-image">
        <source
          media="(min-width: 1280px)"
          srcset="
            ../images/hero/hero-desktop-2.jpg    1x,
            ../images/hero/hero-desktop-2@2x.jpg 2x
          "
          alt="girl"
          width="440"
          height="560"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../images/hero/hero-tablet-2.jpg    1x,
            ../images/hero/hero-tablet-2@2x.jpg 2x
          "
          alt="girl"
          width="640"
          height="640"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../images/hero/hero-mob-2.jpg    1x,
            ../images/hero/hero-mob-2@2x.jpg 2x
          "
          alt="girl"
          width="335"
          height="452"
        />
        <img
          class="hero-img"
          src="../images/hero/hero-desktop-2.jpg"
          alt="girl"
          width="440"
          height="560"
        />
      </picture>
    </div>
    <div class="hero-container four">
      <h2 class="hero-subtitle">
        To order your
        <span class="hero-subtitle-highlight">vegetable</span> basket, simply
        follow these
        <span class="hero-subtitle-highlight">easy steps</span>
      </h2>
      <p class="hero-desc">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ul class="hero-list">
        <li class="hero-item">
          <p class="hero-item-desc">
            Just choose
            <span class="hero-desc-highlight">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="hero-desc-highlight">next to it</span>.
          </p>
        </li>
        <li class="hero-item">
          <p class="hero-item-desc">
            Click on <span class="hero-desc-highlight">the basket</span> and
            fill out the form.
          </p>
        </li>
        <li class="hero-item">
          <p class="hero-item-desc">
            Sit back and relax! Your
            <span class="hero-desc-highlight">fresh vegetables</span> basket
            will be delivered.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
