<section class="work" id="section1">
  <div class="work-container container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="work-img-wrapper">
      <picture class="work-img">
        <source
          media="(min-width: 1280px)"
          srcset="/images/work-1x.jpg 1x, /images/work-2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="/images/work-tab-1x.jpg 1x, /images/work-tab-2x.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/images/work-mob-1x.jpg 1x, /images/work-mob-2x.jpg 2x"
        />
        <img src="/images/work-tab-1x.jpg" alt="woman" width="640" />
      </picture>
    </div>
    <div class="work-wrapper">
      <h3 class="work-subtitle">
        To order your
        <span class="title-accent">vegetable</span> basket, simply follow these
        <span class="title-accent">easy steps</span>
      </h3>
      <p class="work-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="work-list">
        <li class="work-item">
          <p class="work-desc">
            Just choose <strong>the vegetable</strong> you want to order by
            clicking on the checkboxes <strong>next to it</strong>.
          </p>
        </li>
        <li class="work-item">
          <p class="work-desc work-desc-second">
            Click on <strong>the basket</strong> and fill out the form.
          </p>
        </li>
        <li class="work-item">
          <p class="work-desc">
            Sit back and relax! Your
            <strong>fresh vegetables</strong> basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
