<div class="tablet-menu-bg">
  <div class="ph-menu-container">
    <ul class="ph-menu-list">
      <li class="ph-menu-list-item">
        <button type="button" class="ph-menu-btn">How It Works</button>
      </li>
      <li class="ph-menu-list-item">
        <button type="button" class="ph-menu-btn">Vegetables</button>
      </li>
      <li class="ph-menu-list-item">
        <button type="button" class="ph-menu-btn">Reviews</button>
      </li>
    </ul>
    <button type="button" class="ph-menu-shop-btn">Shop Now</button>
    <svg class="menu-close-btn" width="32" height="32">
      <use href="/images/sprite.svg#icon-close-btn"></use>
    </svg>
  </div>
</div>
