<section class="reviews">
    <div class="container-reviews ">
       
        <div class="reviews-header">
            <h2 class="title">reviews from our <span class="highlight">customers</span></h2>
            <p class="reviews-desk">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
        </div>

        <div class="list-reviews">
            
            <div class="item-reviews">
                <img
                    srcset="./images/reviews-img/Group-1-(2)-1-min.jpg 1x,
                            ./images/reviews-img/Group-1-(2)-1@2x-min.jpg 2x"
                    src="./images/reviews-img/Group-1-(2)-1-min.jpg"
                    alt="men"
                    width="56" height="56"
                    class="avatar-reviews"
                >
                <h3 class="subtitle-reviews">John Wax</h3>
                <p class="text-reviews">These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and taste are enchanting. I advise every fan of real products!</p>
            </div>

            <div class="item-reviews review-hidden-mobile">
                <img
                    srcset="./images/reviews-img/Image-min.jpg 1x,
                            ./images/reviews-img/Image@2x-min.jpg 2x"
                    src="./images/reviews-img/Image-min.jpg"
                    alt="women"
                    width="56" height="56"
                    class="avatar-reviews"
                >
                <h3 class="subtitle-reviews">Victoria Romashenko</h3>
                <p class="text-reviews">I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real masterpieces. The quality is impeccable!</p>
            </div>

           
            <div class="item-reviews review-hidden-tablet">
                <img
                    srcset="./images/reviews-img/Image-1-min.jpg 1x,
                            ./images/reviews-img/Image@2x-1-min.jpg 2x"
                    src="./images/reviews-img/Image-1-min.jpg"
                    alt="boy"
                    width="56" height="56"
                    class="avatar-reviews"
                >
                <h3 class="subtitle-reviews">Ihor Trachuk</h3>
                <p class="text-reviews">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to my table. It is now my main vegetable supplier.</p>
            </div>
        </div>
    </div>
</section>
