<section class="vegetables">
  <div class="container container-vegetables">
    <div class="wrap">
      <h2 class="vegetables-title">
        organic <span class="vegetables-title-wrap">vegetables</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="item-wrapper">
          <h3 class="vegetables-subtitles">eggplant</h3>
          <p class="vegetables-desk">60 USD / kg</p>
          <img
            class="vegetables-img"
            srcset="
              /images/vegetables/img-1-min.png    1x,
              /images/vegetables/img-1@2x-min.png 2x
            "
            src="/images/vegetables/img-1-min.png"
            alt="eggplant"
            width="287"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="item-wrapper">
          <h3 class="vegetables-subtitles">leek</h3>
          <p class="vegetables-desk">50 USD / kg</p>
          <img
            class="vegetables-img"
            srcset="
              /images/vegetables/img-2-min.png    1x,
              /images/vegetables/img-2@2x-min.png 2x
            "
            src="/images/vegetables/img-2-min.png"
            alt="leek"
            width="287"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="item-wrapper">
          <h3 class="vegetables-subtitles">mushrooms</h3>
          <p class="vegetables-desk">40 USD / kg</p>
          <img
            class="vegetables-img"
            srcset="
              /images/vegetables/img-3-min.png    1x,
              /images/vegetables/img-3@2x-min.png 2x
            "
            src="/images/vegetables/img-3-min.png"
            alt="mushrooms"
            width="287"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="item-wrapper">
          <h3 class="vegetables-subtitles">corn</h3>
          <p class="vegetables-desk">60 USD / kg</p>
          <img
            class="vegetables-img"
            srcset="
              /images/vegetables/img-4-min.png    1x,
              /images/vegetables/img-4@2x-min.png 2x
            "
            src="/images/vegetables/img-4-min.png"
            alt="corn"
            width="287"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="item-wrapper">
          <h3 class="vegetables-subtitles">sweet potatoes</h3>
          <p class="vegetables-desk">50 USD / kg</p>
          <img
            class="vegetables-img"
            srcset="
              /images/vegetables/img-5-min.png    1x,
              /images/vegetables/img-5@2x-min.png 2x
            "
            src="/images/vegetables/img-5-min.png"
            alt="potatoes"
            width="287"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="item-wrapper">
          <h3 class="vegetables-subtitles">carrot</h3>
          <p class="vegetables-desk">40 USD / kg</p>
          <img
            class="vegetables-img"
            srcset="
              /images/vegetables/img-6-min.png    1x,
              /images/vegetables/img-6@2x-min.png 2x
            "
            src="/images/vegetables/img-6-min.png"
            alt="carrot"
            width="287"
            height="240"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
