  

.container-advertisement {
    font-family: "Inter Tight", sans-serif;
    max-width: 375px;
    margin: 0 auto;
}


.advertisement {
padding: 80px 20px;
}

.advertisement-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08333;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
text-align: left;
}

.advertisement-color {
    background-color: #576f35;
    border-radius: 12px;
    color: #ffff;
    display: inline-block;
}

@media screen and (min-width:768px) {
    .container-advertisement {
        max-width: 768px;
        padding: 100px 32px;
    }

    .advertisement-text {
        font-size: 64px;
        line-height: 1;
    }

    .advertisement-color {
display: inline-block;
padding: 20px 15px 4px 0;
}

}

@media screen and (min-width:1280px) {

    .container-advertisement {
        max-width: 1280px;
        padding: 100px;
    }

.advertisement-text {
    display: block;
    font-size: 76px;
    letter-spacing: -0.01em;
    line-height: 1;
}
    
.advertisement-color {
display: inline-block;
padding: 4px 4px 4px 0;
margin-right: 5px;
padding-left: 16px;
}

.text-advertisement {
    margin: 0 10px 0 16px;
}

}