.footer {
  background-color: #7a3145;
  padding: 40px 0;
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  margin: 0 auto;
}

.cont-footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-logo-icon {
  margin-bottom: 14px;
  fill: #fbfbfb;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-menu-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.container-footer-address {
  margin-bottom: 80px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-address-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  font-style: normal;
}

.footer-address-text {
  width: 179px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  font-style: normal;
}

.footer-privacy {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-link {
  display: flex;
  gap: 8px;
}

.privacy-link:first-of-type::after {
  content: '/';
  color: #d4bfc4;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  .cont-footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
  }

  .footer-container-nav {
    width: 265px;
    height: 104px;
  }

  .footer-logo-icon {
    width: 216px;
    height: 20px;
    margin-bottom: 24px;
  }

  .container-footer {
    margin-left: auto;
  }

  .footer-menu-list {
    gap: 24px;
  }

  .container-footer-address {
    width: 227px;
    height: 84px;
    margin-left: auto;
    margin-bottom: 100px;
  }

  .footer-address-list {
    gap: 24px;
  }

  .footer-address-number {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-address-text {
    font-size: 16px;
    line-height: 1.25;
    width: 216px;
  }

  .footer-privacy {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 52px 0;
  }

  .footer-container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1280px;
  }

  .footer-container-nav {
    margin-right: 250px;
  }

  .cont-footer {
    flex-wrap: nowrap;
    gap: 0px;
    margin-bottom: 124px;
  }

  .container-footer {
    margin-left: 0;
    margin-right: 120px;
  }

  .container-footer-address {
    width: 216px;
    height: 84px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
