.footer {
  background-color: #7a3145;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  padding: 40px 20px;
}
.container {
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-container-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-logo-link {
  margin-bottom: 14px;
}
.footer-logo-icon {
  fill: #fbfbfb;
}
.footer-text {
  width: 335px;
  height: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}
.container-footer {
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.container-footer-address {
  margin-bottom: 80px;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.number {
  margin-bottom: 14px;
}
.footer-address-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  font-style: normal;
}
.footer-address-text {
  width: 179px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  font-style: normal;
}
.footer-privacy {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}
.privacy-link {
}
.privacy-text {
  margin-top: 16px;
}
