.hero {
  background-color: #576f35;
}

.hero-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #576f35;
  margin: 0 auto;
}

.hero-container-desk {
  padding: 100px 20px 0 20px;
  margin-bottom: 40px;
}

.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

@media only screen and (max-width: 352px) {
  .hero-title {
    font-size: 46px;
  }
}

.hero-desc {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

.hero-container-img {
  display: block;
  background-image: url(/images/hero/hero-mob-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 375px;
  height: 372px;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) {
  .hero-container-img {
    background-image: url('/images/hero/hero-mob-1@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-container-desk {
    padding: 120px 32px 0 32px;
    margin-bottom: 52px;
  }

  .hero-container-img {
    background-image: url(/images/hero/hero-tablet-1.jpg);
    max-width: 768px;
    height: 536px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero-container-img {
      background-image: url('/images/hero/hero-tablet-1@2x.jpg');
    }
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container-desk {
    padding: 0 38px 0 100px;
    width: 640px;
    margin-top: auto;
  }

  .hero-container-img {
    background-image: url(/images/hero/hero-desktop-1.jpg);
    width: 640px;
    height: 796px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero-container-img {
      background-image: url('/images/hero/hero-desktop-1@2x.jpg');
    }
  }

  .hero-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1280px;
    padding: 0;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-desc {
    max-width: 472px;
  }
}
