.container-reviews {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.reviews {
  padding: 80px 0;
}
.reviews-header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 335px;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.highlight {
  color: #576f35;
}
.reviews-desk {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
}
.list-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.item-reviews {
  border: 1px solid #d4bfc4;
  background: #fbfbfb;
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 335px;
  min-width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar-reviews {
  border-radius: 50%;
  margin-bottom: 24px;
}
.subtitle-reviews {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.text-reviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #858585;
}
.review-hidden-mobile,
.review-hidden-tablet {
  display: none;
}
@media screen and (max-width: 375px) {
  .container-reviews {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-reviews {
    max-width: 768px;
    height: 492px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 52px;
    justify-content: flex-start;
  }
  .list-reviews {
    width: 704px;
  }
  .reviews {
    padding: 100px 0;
    margin: 0;
  }
  .title {
    font-size: 64px;
    line-height: 1;
  }
  .reviews-header {
    max-width: 553px;
    margin-bottom: 0;
    gap: 24px;
  }
  .reviews-desk {
    font-size: 16px;
  }
  .review-hidden-mobile {
    display: flex;
  }
  .item-reviews {
    min-width: 340px;
    max-width: 340px;
    margin: 0;
    padding: 20px 21px;
  }
}

@media screen and (min-width: 1280px) {
  .container-reviews {
    max-width: 1280px;
    max-height: 492px;
  }

  .reviews-header {
  }
  .item-reviews {
    min-width: 344px;
    max-width: 344px;
  }
  .review-hidden-tablet {
    display: flex;
  }
  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 100px 0;
  }
  .list-reviews {
    width: 1080px;
  }
}
