.reviews{
    padding: 80px 20px;
  
}

.title{
font-weight: 600;
font-size: 48px;
line-height: 1.08333;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
margin-bottom: 20px;
text-align:

}
.highlight{
    color: #576f35;
}
.reviews-desk{
font-weight: 500;
font-size: 14px;
line-height: 1.43;
color: #141414;
margin-bottom: 40px;



}
.item-reviews{
    border: 1px solid #d4bfc4;
    border-radius: 24px; 
    max-width: 100%;
    min-height: 228px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 16px;

}

.avatar-reviews{
    border-radius: 50%;
    margin: 0 auto;
  
}
.subtitle-reviews{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #141414; 
    margin-bottom: 8px;
    margin-top: 24px;
  
}
.text-reviews{
    font-weight: 500;
font-size: 14px;
line-height: 1.42857;
text-align: center;
color: #858585;
margin-bottom: 20px;



}
.review-hidden-mobile,
.review-hidden-tablet{
    display: none;
}

.item-reviews {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
}


@media screen and (min-width: 768px){
    .reviews{
        padding: 100px 32px;
    }
    .title{
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }
    .reviews-desk{
        font-size: 16px;
line-height: 1.25;
margin-bottom: 52px;
    }
    .review-hidden-mobile{
        display: block;
    }
    .item-reviews{
        width: calc((100% - 24px) / 2); 
   
    }
    .list-reviews{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 24px;
    }
    
}
@media screen and (min-width: 1280px) {
    .item-reviews {
        width: calc((100% - 48px) / 3); 
    }
    .review-hidden-tablet{
        display: block;
    }
}