.vegetables {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7a3145;
}
.container-vegetables {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrap {
  margin-bottom: 40px;
}
.vegetables-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.vegetables-title-wrap {
  color: #d4bfc4;
}

.vegetables-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

.vegetables-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.vegetables-item {
}

.item-wrapper {
  height: 376px;
  border-radius: 40px;
  padding: 32px 24px;
  background-color: #fbfbfb;
}

.vegetables-subtitles {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}

.vegetables-desk {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 12px;
}

.vegetables-img {
}

@media only screen and (min-width: 768px) {
  .vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-vegetables {
    padding: 0 32px;
  }
  .wrap {
    margin-bottom: 52px;
  }
  .vegetables-title {
    font-size: 64px;
    line-height: 1;
    max-width: 508px;
  }
  .vegetables-text {
    max-width: 610px;
  }
  .vegetables-list {
    display: flex;
    justify-content: center;
    gap: 0;
    column-gap: 24px;
    row-gap: 28px;
  }

  .item-wrapper {
    width: 340px;
    height: 380px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .vegetables-subtitles {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-vegetables {
      padding: 0 100px;
    }
}
