.order-section {
    padding: 80px 0;
    background-color: #576F35;
}

.container {
    margin: 0 auto;
}


/* Description styles */

.order-description {
    color: #FBFBFB;
    margin-bottom: 40px;
}


.order-description-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.08;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: -0.015em;

}

.order-description-title span {
    color: #D4BFC4;
}


.order-description-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
}


/* Form styles */

.order-form-container {
    background-color: #FBFBFB;
    border-radius: 30px;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.order-form-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.order-form-title .chianti {
    color: #7A3145;
}

.order-form-title .green {
    color: #576F35;
}

.form-input {
    width: 100%;
    padding: 16px 14px;
    border-radius: 30px;
    border: 1px solid #858585;
    margin-bottom: 16px;
    line-height: 1.43;
    outline: none;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter Tight', sans-serif;
}

.form-input:focus,
.form-input:active,
.form-input:hover,
.form-textarea:active,
.form-textarea:focus,
.form-textarea:hover {
    border-color: #7A3145;
    outline: none;
}


.form-input:focus:valid {
    border-color: #3CBC81;
    outline: none;
}


.form-input:invalid {
    border-color: #E74A3B;
    outline: none;
}

.form-textarea {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #858585;
    padding: 16px;
    height: 92px;
    margin-bottom: 20px;
    resize: none;
}

.form-button {
    font-family: 'Inter Tight', sans-serif;
    background-color: #7A3145;
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 16px 0;
    text-transform: uppercase;
    color: #FBFBFB;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 600;
    cursor: pointer;
}

.form-button:hover,
.form-button:focus {
    background-color: #FBFBFB;
    color: #7A3145;
    border: 1px solid #7A3145;
}


/* Socail styles */

.order-social-container {
    border-radius: 30px;
    background-color: #7A3145;
    padding: 40px 20px;
}

.order-socail-img {
    display: block;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.order-social-text {
    color: #D4BFC4;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 16px;
}

.order-social-menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.order-social-link {
    color: #FBFBFB;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.015em;
    line-height: 1.1;
}

.order-social-item span {
    color: #FBFBFB;
    width: 7px;
    margin-left: 8px;
    margin-right: 8px;
}


/* Media */


@media screen and (min-width:768px) {

    /* General styles */

    section {
        padding: 100px 0;
    }

    .container {
        width: 640px;
        margin: 0 auto;
    }

    /* Description styles */

    .order-description {
        color: #FBFBFB;
        margin-bottom: 52px;
    }


    .order-description-title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }

    .order-description-text {
        font-size: 16px;
        ;
        line-height: 1.25;
    }

    /* Form styles */

    .order-form-container {
        padding: 72px 100px;
        margin-bottom: 32px;
    }


    .order-form-title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 52px;
        line-height: 1;
        letter-spacing: -0.015em;
    }


    .form-input::placeholder,
    .form-textarea::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .form-textarea {
        margin-bottom: 24px;
    }

    /* Social styles */


    .order-social-container {
        padding: 52px;
    }

    .order-socail-img {
        margin-bottom: 52px;
    }

    .order-social-text {
        font-size: 16px;
        line-height: 1.25;
    }

}



@media screen and (min-width:1280px) {

    /* General styles */

    section {
        padding: 100px 0;
    }

    .container {
        width: 1080px;
        margin: 0 auto;
    }

    /* Description styles */
    .order-description {
        width: 761px;
        margin-bottom: 52px;
    }

    .order-description-title {
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 1;
    }

    .order-description-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
    }


    /* Wrap styles */
    .order-content-wrap {
        display: flex;
        gap: 32px;
    }

    /* Form styles */

    .order-form-container {
        flex-basis: calc((100% - 32px) / 2);
        padding: 52px 48px;
        margin-bottom: 0;
    }

    .form-textarea {
        height: 96px;
        margin-bottom: 24px;
    }

    .form-button:hover {
        background-color: #D4BFC4;
        color: #7A3145;
        border: 1px solid #D4BFC4;
    }


    /* Social styles */

    .order-social-container {
        flex-basis: calc((100% - 32px) / 2);
        padding: 52px 48px;
    }

    .order-socail-img {
        margin-bottom: 80px;
    }

}